<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Пользователи</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Пользователи </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th> Номер</th>
                    <th> Имя</th>
                    <th> Фамилия</th>
                    <th> Логин</th>
                    <th> </th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${persons.empty}">
                    <td colspan="2"> Нет пользователей</td>
                </tr>
                <tr th:each="person : ${persons}">
                    <td><span th:text="${person.id}"> Номер </span></td>
                    <td><span th:text="${person.first_name}"> Имя </span></td>
                    <td><span th:text="${person.last_name}"> Фамилия </span></td>
                    <td><span th:text="${person.login}"> Логин </span></td>
                    <td><a class="btn btn-primary" href="#" th:href="@{/persons/edit/{id}(id=${person.id})}"> Редактировать </a></td>
                    <td><a class="btn btn-warning" href="#" th:href="@{/persons/delete/{id}(id=${person.id})}"> Удалить </a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <a class="btn btn-success" href="#" th:href="@{/persons/create}"> Добавить пользователя </a>
<!--            <a class="btn btn-primary" href="#" th:href="@{/products/edit}"-->
<!--            th:classappend="${products.empty} ? 'disabled' : ''"> Edit products </a>-->
            <a class="btn btn-success" href="#" th:href="@{/}"> Назад на главную </a>
        </div>
    </div>
</div>
</body>
</html>
