<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить товар</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Добавить товар </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/persons/all}"> Назад к списку товаров </a>
            <form action="#" class="form-horizontal"
                  th:action="@{/persons/save}"
                  th:object="${form}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Сохранить">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Сбросить"/>
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Имя </th>
                            <th> Фамилия </th>
                            <th> Логин </th>
                            <th> Пароль </th>
                            <th> Роль(id) </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="person, itemStat : *{persons}">
                            <td><input th:placeholder="Имя" th:field="*{persons[__${itemStat.index}__].first_name}" required/></td>
                            <td><input th:placeholder="Фамилия" th:field="*{persons[__${itemStat.index}__].last_name}" required/></td>
                            <td><input th:placeholder="Логин" th:field="*{persons[__${itemStat.index}__].login}" required/></td>
                            <td><input th:placeholder="Пароль" th:field="*{persons[__${itemStat.index}__].password}" required/></td>
                            <td><input th:placeholder="Роль" th:field="*{persons[__${itemStat.index}__].role_id}" required/></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>